# Public demo configuration template
YOUR_SERVER_URL=https://YOUR_SERVER_URL/
YOUR_UPDATE_ENDPOINT=/YOUR_UPDATE_ENDPOINT
YOUR_API_KEY=YOUR_API_KEY
YOUR_BUCKET_NAME=YOUR_BUCKET_NAME
YOUR_PACKAGE_NAME=com.example.appstoredemo
